body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
h1{
    font-size:50px"
}
.font{
    color: orange;
}
p{
    color: black;
}
.haf-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.haf-width img{
    width: 80%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 400px;
    padding-bottom: 150px;
}
.button-top{

    text-decoration: none;
    color: white;
    background-color: blue;
    background-image: linear-gradient(45deg orange,tomato);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
}
.dream-area{
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-shadow{
    box-shadow: 10px 10px 40px rgb(92, 104, 96);
    height: 280px;
    margin-top: 90px;
}
.expected{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stak{
    border-left: 7px solid  rgb(233, 18, 18);
    border-image: linear-gradients(180 deg);
    border-image-slice: 1;
}
#stack{
    border-left: 7px solid blue;
    border-image: linear-gradients();
    border-image-slice: 1;

}
footer p{
    text-align: center;
}